* {
  font-family: "Poppins";
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: red;
}

li {
  list-style: none;
}

.index {
  font-family: "Poppins";
}
.index__form {
  background: #ffffff;
  padding: 30px;
  width: 330px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.index__input {
  padding: 14px 15px;
  font-size: 18px;
  border: 2px solid #ddd;
  border-radius: 8px;
  color: red;
}
.index ::-moz-placeholder {
  color: grey;
}
.index ::placeholder {
  color: grey;
}
.index__btn {
  padding: 14px;
  background: #000;
  color: red;
  border: none;
  border-radius: 8px;
  font-size: 20px;
}
.index__btn:hover {
  background: #0c28c7;
  color: white;
  transition: all 1s ease;
}
.index__btn:active {
  background-color: #000;
  color: red;
}
.index__body {
  font-family: "Poppins";
  background: linear-gradient(150deg, #000000, rgb(15, 15, 15));
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  width: 550px;
  height: 380px;
  border-radius: 15px;
  background-color: black;
  font-family: "Poppins";
  box-shadow: 0 0 14px rgba(138, 43, 226, 0.5);
}
.login__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 90px;
  margin-top: 20px;
}
.login__title {
  color: white;
  font-size: 40px;
  text-align: center;
  margin: 0;
}
.login__icon__and__input {
  display: flex;
  position: relative;
  margin: 5px auto;
}
.login__icon {
  margin-top: 7px;
  position: absolute;
  left: 35px;
  font-size: 20px;
}
.login__username {
  width: 240px;
  height: 38px;
  border-radius: 12px;
  border: none;
  margin: 0px 18px;
  padding-left: 50px;
  color: red;
}
.login__password {
  width: 240px;
  height: 38px;
  border-radius: 12px;
  border: none;
  margin: 0px 18px;
  padding-left: 50px;
}
.login__btn {
  width: 200px;
  height: 35px;
  margin: auto;
  border-radius: 10px;
  border: none;
  font-size: 17px;
}
.login__btn:hover {
  color: white;
  background-color: black;
  border: 3px solid white;
}
.login__btn:active {
  background-color: black;
  color: cyan;
  border: 3px solid cyan;
}
.login__body {
  width: 100%;
  height: 100vh;
  background-color: rgb(16, 3, 30);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard {
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  color: white;
}
.dashboard__container {
  display: flex;
}
.dashboard__panel {
  width: 380px;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}
.dashboard__icon__and__title {
  display: flex;
  gap: 15px;
}
.dashboard__icon {
  font-size: 45px;
  margin-top: 20px;
}
.dashboard__title {
  font-size: 28px;
}
.dashboard__image__and__texts {
  display: flex;
  gap: 15px;
}
.dashboard__image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.dashboard__texts {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.dashboard__user {
  font-size: 20px;
}
.dashboard__user__description {
  font-size: 16px;
}
.dashboard__user__description span {
  font-size: 13px;
  color: rgb(84, 182, 234);
}
.dashboard__sections {
  display: flex;
  flex-direction: column;
}
.dashboard__section {
  display: flex;
  gap: 10px;
  transition: all 0.6s ease;
}
.dashboard__section:hover {
  color: red;
  background: rgb(63, 44, 44);
}
.dashboard__section__icon {
  font-size: 30px;
  margin-top: 13px;
}
.dashboard__section__text {
  font-size: 22px;
}
.dashboard__exits {
  display: flex;
  gap: 10px;
  margin-top: 14px;
}
.dashboard__logout {
  width: 140px;
  height: 30px;
  border-radius: 10px;
  border: none;
}
.dashboard__logout:hover {
  background-color: black;
  color: white;
  border: 3px solid white;
  transition: all 0.7s ease;
}
.dashboard__signout {
  width: 140px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: red;
  color: white;
  box-shadow: 0 0 12px rgba(255, 0, 0, 0.6);
}
.dashboard__signout:hover {
  background-color: rgb(29, 5, 5);
  color: red;
  border: 2px solid red;
  box-shadow: 0 0 12px rgba(255, 0, 0, 0.6);
}
.dashboard__navbar {
  width: 100%;
  height: 100px;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  gap: 50px;
}
.dashboard__search {
  width: 400px;
  height: 32px;
  border-radius: 10px;
  margin: 30px;
}
.dashboard__search:focus {
  background-color: red;
  color: white;
  padding-left: 10px;
}
.dashboard__search::-moz-placeholder {
  padding-left: 20px;
  color: red;
}
.dashboard__search::placeholder {
  padding-left: 20px;
  color: red;
}
.dashboard__navbar__icons {
  display: flex;
  margin-left: 50px;
  gap: 50px;
}
.dashboard__menu__icon {
  font-size: 30px;
  margin-top: 28px;
}
.dashboard__github__icon {
  font-size: 40px;
  margin-top: 27px;
}
.dashboard__menu__elements {
  width: 200px;
  height: 300px;
  color: white;
}
.dashboard__menu__element {
  width: 200px;
  height: 350px;
  display: flex;
  flex-direction: column;
  background-color: black;
  border: 3px solid red;
  position: relative;
  z-index: 100;
}
.dashboard__menu__element__icon__and__text {
  display: flex;
  gap: 10px;
}
.dashboard__menu__element__icon__and__text:hover {
  background-color: black;
  color: red;
  border: 3px solid red;
  transition: all 0.7s ease;
}
.dashboard__menu__element__icon {
  font-size: 40px;
  margin-top: 12px;
}
.dashboard__menu__element__text {
  font-size: 22px;
}
.dashboard__view__btn {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: green;
  color: white;
  margin: 5px;
}
.dashboard__view__btn:hover {
  background-color: white;
  color: green;
  border: 3px solid green;
  transition: all 0.9s ease;
}
.dashboard__edit__btn {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: yellow;
  color: white;
  margin: 5px;
}
.dashboard__edit__btn:hover {
  background-color: white;
  color: yellow;
  border: 3px solid yellow;
  transition: all 0.9s ease;
}
.dashboard__delete__btn {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: red;
  color: white;
  margin: 5px;
}
.dashboard__delete__btn:hover {
  background-color: white;
  color: red;
  border: 3px solid red;
  transition: all 0.9s ease;
}

body {
  background-color: rgb(27, 26, 26);
}

table {
  border-collapse: collapse;
  color: red;
  border: 5px solid red;
}

th {
  text-align: center;
  background-color: black;
  color: cyan;
  font-weight: 400;
  font-size: 19px;
  border: 5px solid red;
  padding: 30px;
}

td {
  border: 5px solid red;
  font-weight: 400;
  padding: 20px;
  text-align: start;
  background-color: black;
  color: cyan;
}

td:nth-child(1) {
  text-align: center;
  font-weight: 900;
  font-size: 20px;
  color: cyan;
}

td:nth-child(2),
td:nth-child(3) {
  text-align: center;
}

.hidden {
  display: none;
}

.add__Btn {
  width: 130px;
  height: 40px;
  border-radius: 13px;
  margin-top: 30px;
  background-color: black;
  color: green;
  border: 2px solid green;
  box-shadow: 0 0 12px rgba(0, 255, 0, 0.6);
}

.modal__window {
  width: 300px;
  height: 400px;
  background-color: rgb(37, 98, 91);
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 50px 0px 25px;
}

.input {
  width: 200px;
  height: 30px;
  padding-left: 10px;
  color: red;
  border-radius: 15px;
  border: 3px solid red;
}

.input:focus {
  border: 5px solid red;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.cancel__btn {
  width: 100px;
  height: 25px;
  border-radius: 10px;
  border: 3px solid white;
  background-color: red;
  color: white;
  box-shadow: 0 0 12px rgba(255, 0, 0, 0.6);
}

.cancel__btn:hover {
  background-color: black;
  color: red;
  border: 3px solid red;
  box-shadow: 0 0 12px rgba(255, 0, 0, 0.6);
}

.submit__btn {
  width: 100px;
  height: 25px;
  border-radius: 10px;
  border: 3px solid white;
  background-color: green;
  color: white;
  box-shadow: 0 0 12px rgba(0, 255, 0, 0.6);
}

.submit__btn:hover {
  background-color: black;
  color: green;
  border: 3px solid green;
  box-shadow: 0 0 12px rgba(0, 255, 0, 0.6);
}

.modal__window__edit {
  width: 300px;
  height: 400px;
  background-color: yellow;
}

.main__cancel__btn {
  width: 130px;
  height: 35px;
  margin: 18px auto;
}

.carts {
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  color: white;
}
.carts__container {
  display: flex;
}
.carts__panel {
  width: 380px;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}
.carts__icon__and__title {
  display: flex;
  gap: 15px;
}
.carts__icon {
  font-size: 45px;
  margin-top: 20px;
}
.carts__title {
  font-size: 28px;
}
.carts__image__and__texts {
  display: flex;
  gap: 15px;
}
.carts__image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.carts__texts {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.carts__user {
  font-size: 20px;
}
.carts__user__description {
  font-size: 16px;
}
.carts__user__description span {
  font-size: 13px;
  color: rgb(84, 182, 234);
}
.carts__sections {
  display: flex;
  flex-direction: column;
}
.carts__section {
  display: flex;
  gap: 10px;
  transition: all 0.6s ease;
}
.carts__section:hover {
  color: red;
  background: rgb(63, 44, 44);
}
.carts__section__icon {
  font-size: 30px;
  margin-top: 13px;
}
.carts__section__text {
  font-size: 22px;
}
.carts__exits {
  display: flex;
  gap: 10px;
  margin-top: 14px;
}
.carts__logout {
  width: 140px;
  height: 30px;
  border-radius: 10px;
  border: none;
}
.carts__logout:hover {
  background-color: black;
  color: white;
  border: 3px solid white;
  transition: all 0.7s ease;
}
.carts__signout {
  width: 140px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: red;
  color: white;
  box-shadow: 0 0 12px rgba(255, 0, 0, 0.6);
}
.carts__signout:hover {
  background-color: rgb(29, 5, 5);
  color: red;
  border: 2px solid red;
  box-shadow: 0 0 12px rgba(255, 0, 0, 0.6);
}
.carts__navbar {
  width: 100%;
  height: 100px;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  gap: 50px;
}
.carts__search {
  width: 400px;
  height: 32px;
  border-radius: 10px;
  margin: 30px;
}
.carts__search:focus {
  background-color: red;
  color: white;
  padding-left: 10px;
}
.carts__search::-moz-placeholder {
  padding-left: 20px;
  color: red;
}
.carts__search::placeholder {
  padding-left: 20px;
  color: red;
}
.carts__navbar__icons {
  display: flex;
  margin-left: 50px;
  gap: 50px;
}
.carts__menu__icon {
  font-size: 30px;
  margin-top: 28px;
}
.carts__github__icon {
  font-size: 40px;
  margin-top: 27px;
}
.carts__menu__elements {
  width: 200px;
  height: 300px;
  color: white;
}
.carts__menu__element {
  width: 200px;
  height: 350px;
  display: flex;
  flex-direction: column;
  background-color: black;
  border: 3px solid red;
  position: relative;
  z-index: 100;
}
.carts__menu__element__icon__and__text {
  display: flex;
  gap: 10px;
}
.carts__menu__element__icon__and__text:hover {
  background-color: black;
  color: red;
  border: 3px solid red;
  transition: all 0.7s ease;
}
.carts__menu__element__icon {
  font-size: 40px;
  margin-top: 12px;
}
.carts__menu__element__text {
  font-size: 22px;
}
.carts__view__btn {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: green;
  color: white;
  margin: 5px;
}
.carts__view__btn:hover {
  background-color: white;
  color: green;
  border: 3px solid green;
  transition: all 0.9s ease;
}
.carts__edit__btn {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: yellow;
  color: white;
  margin: 5px;
}
.carts__edit__btn:hover {
  background-color: white;
  color: yellow;
  border: 3px solid yellow;
  transition: all 0.9s ease;
}
.carts__delete__btn {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: red;
  color: white;
  margin: 5px;
}
.carts__delete__btn:hover {
  background-color: white;
  color: red;
  border: 3px solid red;
  transition: all 0.9s ease;
}

body {
  background-color: rgb(27, 26, 26);
}

table {
  border-collapse: collapse;
  color: red;
  border: 5px solid red;
}

th {
  text-align: center;
  background-color: black;
  color: cyan;
  font-weight: 400;
  font-size: 19px;
  border: 5px solid red;
  padding: 30px;
}

td {
  border: 5px solid red;
  font-weight: 400;
  padding: 20px;
  text-align: start;
  background-color: black;
  color: cyan;
}

td:nth-child(1) {
  text-align: center;
  font-weight: 900;
  font-size: 20px;
  color: cyan;
}

td:nth-child(2),
td:nth-child(3) {
  text-align: center;
}

.hidden {
  display: none;
}

.add__Btn {
  width: 130px;
  height: 40px;
  border-radius: 13px;
  margin-top: 30px;
  background-color: black;
  color: green;
  border: 2px solid green;
  box-shadow: 0 0 12px rgba(0, 255, 0, 0.6);
}

.modal__window {
  width: 300px;
  height: 400px;
  background-color: rgb(37, 98, 91);
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 50px 0px 25px;
}

.input {
  width: 200px;
  height: 30px;
  padding-left: 10px;
  color: red;
  border-radius: 15px;
  border: 3px solid red;
}

.input:focus {
  border: 5px solid red;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.cancel__btn {
  width: 100px;
  height: 25px;
  border-radius: 10px;
  border: 3px solid white;
  background-color: red;
  color: white;
  box-shadow: 0 0 12px rgba(255, 0, 0, 0.6);
}

.cancel__btn:hover {
  background-color: black;
  color: red;
  border: 3px solid red;
  box-shadow: 0 0 12px rgba(255, 0, 0, 0.6);
}

.submit__btn {
  width: 100px;
  height: 25px;
  border-radius: 10px;
  border: 3px solid white;
  background-color: green;
  color: white;
  box-shadow: 0 0 12px rgba(0, 255, 0, 0.6);
}

.submit__btn:hover {
  background-color: black;
  color: green;
  border: 3px solid green;
  box-shadow: 0 0 12px rgba(0, 255, 0, 0.6);
}

.modal__window__edit {
  width: 300px;
  height: 400px;
  background-color: yellow;
}

.main__cancel__btn {
  width: 130px;
  height: 35px;
  margin: 18px auto;
}/*# sourceMappingURL=style.css.map */