* {
    // margin: 0;
    // padding: 0;
    // box-sizing: border-box;
    font-family: 'Poppins';
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: red;
}

li {
    list-style: none;
}