.login {
    width: 550px;
    height: 380px;
    border-radius: 15px;
    background-color: black;
    font-family: 'Poppins';
    box-shadow: 0 0 14px rgba(138, 43, 226, 0.5);

    &__form {
        display: flex;
        flex-direction: column;
        gap: 15px;  
        padding-top: 90px;
        margin-top: 20px;
    }

    &__title {
        color: white;
        font-size: 40px;
        text-align: center;
        margin: 0;
    }

    &__icon__and__input {
        display: flex;
        position: relative;
        margin: 5px auto;
    }

    &__icon {
        margin-top: 7px;
        position: absolute;
        left: 35px;
        font-size: 20px;
    }

    &__username {
        width: 240px;
        height: 38px;
        border-radius: 12px;
        border: none;
        margin: 0px 18px;
        padding-left: 50px;
        color: red;
    }

    &__password {
        width: 240px;
        height: 38px;
        border-radius: 12px;
        border: none;
        margin: 0px 18px; 
        padding-left: 50px;
    }

    &__btn {
        width: 200px;
        height: 35px;
        margin: auto;
        border-radius: 10px;
        border: none;
        font-size: 17px;
    }

    &__btn:hover {
        color: white;
        background-color: black;
        border: 3px solid white;
    }

    &__btn:active {
        background-color: black;
        color: cyan;
        border: 3px solid cyan;
    }

    &__body {
        width: 100%;
        height: 100vh;
        background-color: rgb(16, 3, 30);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}